@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
  }

  .header nav {
    margin-top: 30px;
  }

  .header nav .ul-nav li {
    margin-right: 40px;
  }

  #me .card .card-content p {
    font-size: 24px;
  }
  #me .card {
    cursor: pointer;
  }
}
