@import url("/responsive.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "EB Garamond", serif;
  box-sizing: border-box;
  background: #0b232d;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social {
  display: flex;
  color: white;
  transform: scale(1.2);
}

.fab {
  padding: 4px;
  margin: 11px;
  transform: scale(1);
  transition: transform 0.5s;
}

.fab:hover,
.tilt:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
  color: rgba(195, 236, 10, 0.8);
}

.fab:hover,
.tilt:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
}

.ul-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-nav li {
  list-style-type: none;
  margin-right: 80px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  background: transparent;
  border-radius: 8px;
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
}

/* ####### main content ############## */

main {
  display: flex;
  position: relative;
}

main .projects {
  position: absolute;
  display: none;
}

main .contacts {
  position: absolute;
  display: none;
}

.info-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  width: 100%;
}

.info-content .card {
  position: relative;
  width: 350px;
  height: 600px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.info-content .card .card-content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  color: white;
  font-size: 18px;
}

.info-content .card .card-content h2 {
  position: absolute;
  top: -20px;
  right: 30px;
  font-size: 2.2em;
  color: rgba(195, 236, 10, 0.8);
  pointer-events: none;
}

.info-content .card .card-content h3 {
  z-index: 1;
  font-size: 30px;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.5s;
}

.info-content .card .card-content p {
  color: white;
  font-size: 30px;
  font-weight: 900px;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.5s;
  box-shadow: 0px 0px 0px gray;
}

.info-content .card:hover .card-content h3,
.info-content .card:hover .card-content p {
  transform: translateY(0px);
  opacity: 1;
}

.education,
.skills,
.whoAmI,
.soon,
.projects-seBau {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(195, 236, 10, 0.8);
  font-size: 30px;
  font-weight: 600;
  transition: 0.5s;
  opacity: 1;
}

.card:hover .education,
.card:hover .skills,
.card:hover .whoAmI,
.card:hover .soon,
.card:hover .projects-seBau {
  margin-left: 300px;
  opacity: 0.2;
  transition: 0.5s;
  z-index: 1;
}

.education p,
.skills p,
.whoAmI p,
.soon p,
.projects-seBau p {
  margin: 5px 5px 5px 5px;
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
  }
}

.education,
.skills,
.whoAmI,
.soon,
.projects-seBau {
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fas,
.fab,
.far {
  padding: 4px;
  border-radius: 50px;
}

.card:hover .card-content .fas,
.card:hover .card-content .far,
.projects .card:hover .card-content .fab {
  box-shadow: 0 0 15px rgba(195, 236, 10, 0.8);
  transition: all 0.5s ease;
  background: rgba(234, 245, 184, 0.8);
  color: teal;
}

/* ############### skills icons ################ */

.card .card-content .fa-js,
.card .card-content .fa-html5,
.card .card-content .fa-css3-alt,
.card .card-content .fa-react {
  position: absolute;
  left: -100px;
  top: -10px;
  font-size: 42px;
  cursor: default;
  border-radius: 6px;
  transform: none;
  color: white;
}
.card .card-content p .my-picture {
  width: 350px;
  height: 300px;
  opacity: 0.8;
  border-radius: 12px;
  margin-top: 100px;
}

#me :nth-child(1) .card-content p {
  margin-top: 120px;
}

.card p .seBau {
  width: 140px;
  height: 40px;
  background-color: rgba(195, 236, 10, 0.8);
  border: none;
  border-radius: 12px;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.card p .seBau a {
  color: rgb(45, 46, 46);
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}

.card p .seBau:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.5s;
}

#projects .card .card-content .fa-react {
  color: rgba(195, 236, 10, 0.8);
  padding: 4px;
  border-radius: 50px;
  left: -80px;
  top: 0px;
}

#projects .card:hover .card-content .fa-react {
  box-shadow: 0 0 15px rgba(195, 236, 10, 0.8);
  transition: all 0.5s ease;
  background: rgba(234, 245, 184, 0.8);
  color: teal;
}

a:visited {
  color: White;
}
