@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: 'EB Garamond', serif;
    box-sizing: border-box;
    background: #0B232D;
}

*,
*::before,
*:after {
    box-sizing: inherit;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social {
    display: flex;
    color: white;
    transform: scale(1.2);
}

.fab {
    padding-left: 15px;
    transform: scale(1);
    transition: transform 0.5s;
}

.fab:hover,
.tilt:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    cursor: pointer;
    color: rgba(195, 236, 10, 0.8);
}

.fab:le,
.tilt:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    cursor: pointer;
}

.ul-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-nav li {
    list-style-type: none;
    margin-right: 80px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    background: transparent;
    border-radius: 8px;
    transform: scale(1);
    transition: transform 0.5s;
    cursor: pointer;
}


/* ####### main content ############## */

.info-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.info-content .card {
    position: relative;
    width: 350px;
    height: 600px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.info-content .card .card-content {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    color: white;
    font-size: 18px;
}

.info-content .card .card-content h2 {
    position: absolute;
    top: -20px;
    right: 30px;
    font-size: 2.2em;
    color: rgba(195, 236, 10, 0.8);
    pointer-events: none;
}

.info-content .card .card-content h3 {
    z-index: 1;
    font-size: 30px;
}

.info-content .card .card-content p {
    color: white;
    font-size: 20px;
}

.card-content img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}